<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<typeAliases>
		<typeAlias type="com.hj.board.BoardDTO" alias="BoardDTO"/>
		<typeAlias type="com.hj.comments.CommentsDTO" alias="CommentsDTO"/>
		<typeAlias type="com.hj.review.ReviewDTO" alias="ReviewDTO"/>
	</typeAliases>
</configuration>